 * {
    margin: auto;
 }


 body {
    text-align: center;
    background-color: white;
}
header {
    display: block;
    width: 100%;
    background-color: rgb(35, 120, 248);
    padding: 0;
    margin: 0;
}
nav {
    display: block;
} 
div {
    display: block;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header img {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0;
}
.header h1 {
    color: #fff;
    display: inline-block;
    margin: 20px 0;
}
.header input {
    width: 45%;
    margin-left: 135px;
    padding: 15px;
    border: none;
    border-radius: 50px;
}
form {
    border: solid 2px black;
    /* margin: 30px 600px 30px 600px; */
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    height: 450px;
    box-shadow:  2px 1px 2px 1px ;
}
form h2 {
    margin-left: -200px;
    margin-top: 10px;
    font-size: 32px;
}
.email-input {
    margin-top: 30px;
    padding: 0 10px;
    width: 80%;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    

}
.password-input {
    margin-top: 10px;
    padding: 0 10px;padding: 0 10px;
    width: 80%;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;

}
.remember-me {
    font-size: 18.72px;
    margin-left: -140px;
}
button {
    background-color: blue;
    color: white;
    padding-right: 220px;
    border: none;
    border-radius: 4px;
    padding-bottom: 15px;
    padding: 10px;
    width: 85%;
    height: 40px;
    margin-top: 10px;
    font-size: 18.72px;

}
.button2 {
    background-color: rgba(5, 9, 3, 0.87);
    margin-top: 30px;

}
.midl {
    font-size: 24px;
    margin-top: 20px;
}
footer {
    display: block;
}
.footer {
    background-color: #444;
    display: block;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}
.footer img:nth-child(1) {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 25px;
    margin-left: -300px;
}
.footer h2 {
    color: #fff;
    display: inline-block;
    margin: 20px 40px 25px 0;
    font-size: 24px;
    font-family: sans-serif;
}
.footer ul {
    display: inline-block;
    margin-left: 95px;
}
.footer ul li {
    display: inline-block;
}
.footer ul li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    margin: 10px;

}
.footer a:hover {
    color: rgb(0, 213, 255);
}
.footer_list p {
    display: inline-block;
    font-size: 18.72px;
    color: #555;
    width: 80%;
    margin: 30px 40px;
}
.footer_list span {
    color: rgb(35, 120, 248);
    font-family: sans-serif;
    font-size: 18.72px;
}
.containerwe {
    text-align: left;
}
.containerwe img {
    float: right;
    margin-top: -60px;
    margin-right: 300px;
}
